 <header id="header" class="d-flex align-items-center ">
  <div class="container-fluid container-xxl d-flex align-items-center ">

    <div id="logo" class="me-auto">

      <a href="index.html" class="scrollto"><img src="assets/img/logo.png" alt="" title=""></a>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" routerLink="/hero">Home</a></li>

        <li><a class="nav-link scrollto" routerLink="/speakers">Speakers</a></li>
        <li><a class="nav-link scrollto" routerLink="/schedule">Schedule</a></li>
        <li><a class="nav-link scrollto" routerLink="/venue">Venue</a></li>
        <li><a class="nav-link scrollto" routerLink="/hotels">Hotels</a></li>
        <!-- <li><a class="nav-link scrollto" routerLink="/gallery">Gallery</a></li> -->
        <li><a class="nav-link scrollto" routerLink="/supporters">Sponsors</a></li>

        <li><a class="nav-link scrollto"  routerLink="/contact">Contact</a></li>
        <li id="#btn123"><a  (click)="logout()"  href="">LogOut</a></li>
      </ul>

    </nav>
    <div class="text12"><i class="bi bi-list  mobile-nav-toggle"></i></div>


  </div>
</header>

