<app-anavbar></app-anavbar>

<div class="container col-md-6">
  <h1 class="text-center text1"> Create Hotel </h1>
  <div class="card">
    <div *ngIf="massage.length >1" class="alert alert-success text-center ">
      {{massage}}
    </div>
    <div class="card-body">
      <form action="" #formgroub="ngForm">
<div class="form-group">

  <label>Title</label>
  <input type="text" required name="Title" #Title="ngModel"  placeholder="Enter Your Title" [(ngModel)]="hotel.title" class="form-control"/>
</div>

<div *ngIf="formgroub.controls?.['Title']?.['valid'] "class="form-group">

  <label>Discreption</label>
  <input type="text"  required name="Discreption" #Discreption="ngModel" [(ngModel)]="hotel.discreption" placeholder="Enter Your Discreption" class="form-control"/>
</div>

<div *ngIf="formgroub.controls?.['Discreption']?.['valid']" class="form-group">

  <label>Imgehotel</label>
  <input type="url" required name="Imgehotel"  #Imgehotel="ngModel"  [(ngModel)]="hotel.imgehotel" placeholder="Enter Your Imgehotel" class="form-control"/>
</div>


<!-- <div *ngIf="formgroub.controls?.['Imgehotel']?.['valid'] "class="form-group"> -->

  <!-- <label>Stars</label>
  <select name="Stars"  required  #Stars="ngModel" [(ngModel)]="hotel.star" class="form-select"  id="">

    <option selected disabled value="">Enter Your numper of Stars</option>
    <option value="1">1 </option>
  <option value="2">2 </option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  </select>
</div> -->
<div *ngIf="formgroub.valid then validhotl else invalidhotl" class="d-grid">

</div>

<ng-template #validhotl>
<div class="d-grid">
  <button (click)="create()" id="btn12"  class="btn ">Create Hotel</button>
</div>


</ng-template>
<ng-template #invalidhotl>
<button class="btn btn-info">Please Enter Your Data</button>


</ng-template>
</form>
    </div>
  </div>
</div>

