<app-header></app-header>
<main id="main">
<section id="hotels" class="section-with-bg">

    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Hotels</h2>
        <p>Her are some nearby hotels</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">

        <div *ngFor="let item of alldate" class="col-lg-4 col-md-6">
          <div class="hotel">
            <div class="hotel-img">
              <img [src]="item.imgehotel" alt="Hotel 1" class="img-fluid">
            </div>
            <h3><a href="#">{{item.title}}</a></h3>
            <div class="stars" >
              {{item.star}}
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
              <i class="bi bi-star-fill"></i>
            </div>
            <p>{{item.discreption}}</p>
          </div>
        </div>



      </div>
    </div>

  </section><!-- End Hotels Section -->
</main>
  <app-footer></app-footer>
